*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background: #eff4f4;
    justify-content: center;
    align-items: center;
}
.hero{
    position: relative;
    background: #eff4f4;
    width: 100%;
    height: 80vh;
    bottom:100px;
}

nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    background-color:#FF6600;
    position: fixed;
    top: 0;
    z-index:1;
    color: #fff;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover{
    color: rgb(177, 224, 4);

}
.detel{
    margin-left: 1%;
    margin-top: 15%;

}

.detel h1{
    position: relative;
    top: 200px;
    font-size: 50px;
    color: #212121;
    margin-bottom: 200px;
}

span{
    color:#FF6600;
}

.detel p{
    color:#555;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5p;
}

.images{
    width:40%;
    height: 100%;
    position:absolute;
    bottom: 0;
    right:20vh;

}
.images img{
    height: 80%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition:bottom 1s, left 1s;
}
/*   --  FORMATION &  EDUCATION --   */

.formation{
    width: 80%;
    padding: 35px 10%;
    height: 80%;
}
   
.formation{
    padding-right: calc(100% - "30px");
}

main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:20px;
}
.col header.title{
    font-family: helvetica;
    color: #11a372;
    padding: 0px 0px 20px 30px;

}
.col .certification{
    padding: 0px 30px ;
    border-left: 2px solid #bababa;
}

.col .certification .formt-box{
    position: relative;
    padding: 20px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
}
.col .certification .formt-box:hover{
    box-shadow: 0px 3px 12px 0px #ccc;
    border: 1px solid transparent;
}
.col .certification .formt-box::before{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
     border-radius: 50%;
    right: calc(100% + 22px );
    top: 0;
    background-color:#FF6600;
    border: 2px solid white;
}

.formt-box h4{
    position: relative;
    color:#FF6600;;
}

.formt-box h3{
    font-size: 19px;
    padding: 10px 0px 6px;
    font-family: helvetica;
    color: #444;
}
.formt-box p{
    line-height: 1.2;
    color: #666;
    font-size: 17px;
}
@media(max-width: 768px){
    main.row{
        grid-template-columns: 1fr;
    }
    .row .col:nth-child(2){
        margin-top: 30px;
    }
}

/* animation competence  */

        /*------  COMPETENCE  --------- */
       .competence{

        border: ridge;
        position: relative;
        border-radius: 70px 0 70px 0;
        height: 30vh;
        border: 3px solid#ccc;
        width: 70%;
        left: 200px;


       }
               /*------PROGRESS------- */
       
               .progres{
                position:relative;
                top: 50%;
                left: 50%;
                text-align: center;
                transform: translate(-50%, -50%);
               } 
        
               .ui-widget{
                position: relative;
                display: inline-block;
                width: 10rem;
                height:10rem ;
                margin: 1.5rem;
                border: 1.2rem solid #ff6464;
                text-align: center;
                border-radius: 9rem;
                box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
                border-bottom-color: #fff;
                border-top-color: #fff;
                border-right-color: #fff;
                box-sizing: border-box;
               }
               .ui-widget:nth-child(2){
                border-left-color: #ff6464;
                border-top-color:#db3056;
                border-right-color:#fff;
                border-bottom-color: #fff;
               }
        
               .ui-widget:nth-child(3){
                border-left-color: #ff6464;
                border-top-color:#db3056;
                border-right-color:#851d41;
                border-bottom-color: #fff;
               }
               
               .ui-widget:nth-child(4){
                border-left-color: #ff6464;
                border-top-color:#db3056;
                border-right-color:#851d41;
                border-bottom-color: #fff;
               }
        
                      .ui-widget:nth-child(4){
                border-left-color: #ff6464;
                border-top-color:#db3056;
                border-right-color:#851d41;
                border-bottom-color: #fff;
               }
               .ui-widget .ui-value{
                position: absolute;
                left: 0;
                right: 0;
                top: 19px;
                font-size: 2.3rem;
                font-weight: 700;
               }
        
               .ui-widget .ui-label{
                position: absolute;
                left: 0;
                bottom: -16px;
                font-size: 14px;
                text-transform: uppercase;
                color: #070a1c;
                width: 100%;
               }
               /*    ------- Qualité Peronnelle  */
               .quali-container{
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 1200px;
                flex-wrap: wrap;
                padding: 40px 0;
            }
            .quali-container .quali-card{
                position: relative;
                min-width: 320px;
                height: 440px;
                box-shadow: inset  5px 5px 5px rgba(0,0,0, 0.05),
                            inset -5px -5px 5px rgba(255,255,255,0.5),
                                   5px 5px 5px rgba(0,0,0,0.05),
                                  -5px -5px 5px rgba(255,255,255,0.5);
               border-radius:15px;
               margin:30px;                  
            }
            
            .quali-container .quali-card .quali-box{
                position: absolute;
                top: 20px;
                left: 20px;
                right: 30px;
                bottom: 20px;
                background-color:#ebf5fc;
                box-shadow: 0 10px 20px rgba(0,0,0,0.1);
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.5s;
            }
            
                
            
            .quali-container .quali-card:hover .quali-box{
                transform: translateY(-50px);
                box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
                background-image:url(row.png);
            }
            
            .quali-container .quali-card-1:hover .quali-box{
                transform: translateY(-50px);
                box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
                background-image:url(teer.png);
            }
            
            .quali-container .quali-card-2:hover .quali-box{
                transform: translateY(-50px);
                box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
                background-image:url(actor.png);
            }
            .quali-container .quali-card .quali-box .quali-content{
                padding: 20px;
                text-align: center;
            }
            
            .quali-container .quali-card .quali-box .quali-content h2{
                position: absolute;
                top: -10px;
                right: 30px;
                font-size: 8em;
                color: rgba(0, 0, 0, 0.02);
                transition: 0.5s;
                pointer-events: none;
            }
            .quali-container .quali-card:hover .quali-box .quali-content h2{
            color: rgba(0, 0, 0, 0.05);
            
            }
            .quali-container .quali-card .quali-box .quali-content h3{
                font-size: 1.8em;
                color: #000;
                z-index: 1;
                transition: 0.5s;
            }
            .quali-container .quali-card .quali-box .quali-content h4{
                font-size: 1em;
                font-weight: 300;
                color: #000;
                z-index: 1;
                transition: 0.5s;
            }
            .quali-container .quali-card:hover .quali-box .qulai-content h3,
            .container .card:hover .box .content h4
            {
                color: #000;
            }
            .quali-container .quali-card .quali-box .quali-content a{
                position: relative;
                display: inline-block;
                padding: 8px 20px;
                background: #03a9f4;
                margin-top: 15px;
                border-radius: 20px;
                color: #000;
                text-decoration: none;
                font-weight: 400;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            
            }
            .quali-container .quali-card:hover .quali-box .quali-content a{
                background: #777;
                
            
            }
            
            /*  -----  EXprience  ------------*/
            
            .container-exp {
                max-width: 1000px;
                background: #f1f1f1;
                margin: 0 auto;
                padding: 30px;
                border-radius: 15px;
                box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
              }
              
              .container-exp::after {
                content: "";
                display: block;
                clear: both;
              }
              .container-exp h1 {
                margin-bottom: 10px;
                color: #FF6600;
                text-align: center;
                font-family:Arial, Helvetica, sans-serif;
            
              }
              .container-exp h3{
                  color:#000;
                  font-family: sans-serif;
                  position: relative;
                  text-align: center;
              }
              .container-exp p {
                line-height: 1.4;
                position: relative;
                align-items: center;
                justify-content: center;
              }
              .container-exp img {
                width: 300px;
                height: 300px;
                object-fit: cover;
                border-radius: 50%;
                float: left;
                shape-outside: margin-box;
                margin: 0 20px 5px 0;
              }
            /* -----   Reference   --------- */
             .body-ref{
                margin: 0;
                padding: 0;
                min-height: 100vh;
                display:flex;
                font-family: 'poppins', sans-serif;
             }
            .card-Ref{
                position: relative;
                width: 300px;
                height: 400px;
                background: #262626;
                overflow: hidden;
                border: 3px solid#FF6600;
                border-radius: 10%;
                margin-right: 30px;
                left: 20vh;
            }
            input,
            .toggle{
                position: absolute;
                width: 50px;
                height: 50px;
                bottom: 20px;
                right: 20px;
                outline:none;
                z-index: 10;
            }
            input{
                opacity: 0;
            }
            .toggle{
                pointer-events: none;
                border-radius: 50%;
                background: #fff;
                transition: 0.5s;
                text-align:center;
                line-height: 50px;
                font-size: 36px;
                box-shadow: 0 0 0 0px #FF6600;
        
            }
            input:checked ~ .toggle{
                box-shadow: 0 0 0 500px #FF6600;
                transform: rotate(255deg);
            }
            .imgXB,
            .content-Ref
            {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
        
            }
            .content-Ref{
                padding: 20px;
                box-sizing: border-box;
                z-index: 11;
                pointer-events: none;
                opacity: 0;
            }
            input:checked ~ .content-Ref{
                opacity: 1;
                transition-delay:0.5s;
            }
            .content-Ref h2{
                margin-bottom:5px;
                color: #fff;
            }
            .content-Ref p{
                margin: 0;
                padding: 0;
                color: #fff;
            }
              /*  -----   Centre d'entêret : ------ */
              .expres-container{
                position: relative;
                left: 100px;
                width: 160vh;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 15px;
                
            }
            .expres-container .expres-card {
                position: relative;
                height: 250px;
                background: #fff;
                display: flex;
                width: 40%;
                margin: 30px 0;
        
            }
            .expres-container .expres-card .imgBx{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background:#ebf5fc;
                z-index: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                transition: 0.5s ease-in-out;
                border-radius: 10%;
                border: 3px solid#FF6600;
            }
            .expres-container .expres-card:hover .imgBx{
                width: 120px;
                height: 150px;
                left:-75px;
                top :calc(50%  - 75px);
                transition: 0.5s ease-in-out;
                background:#FF6600;
            }
            .expres-container .expres-card .imgBx:before{
                content: attr(data-text);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                text-align: center;
                font-size:6em;
                color:rgba(255,255,255,.05);
                font-weight:700;
            }
            
            .expres-container .expres-card .imgBx img{
                max-width: 100px;
                transition: 0.5s ease-in-out;
            }
            .expres-container .expres-card:hover .imgBx img{
                max-width: 75px;
            }
           .expres-container .expres-card .expres-content{ 
                position: absolute;
                right: 0;
                width: calc(100% - 75px);
                height: 80%;
                padding:20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .expres-container .expres-card .expres-content h3{
                margin-bottom: 5px;
                font-size:24px;
            }
            .expres-container .expres-card .expres-content a{
                display: inline-block;
                margin-top: 10px;
                padding: 5px 10px;
                background: #333;
                text-decoration: none;
                color: #fff;
            }
            @media(max-width:992px){
                .expres-container{
                    width: 100%;
                    flex-direction:column ;
                    align-items: center;
                }
                .expres-container .expres-card{
                    width: 400px;
                }
            }
            @media(max-width:768px){
                .expres-container .expres-card{
                    max-width: 300px;
                    flex-direction:column;
                    height:auto;
                }
                .expres-container .expres-card .imgBx{
                    position: relative;
                }
                .expres-container .expres-card .imgBx,
                .expres-container .expres-card:hover .imgBx{
                    width: 100%;
                    height:200px;
                    left: 0;
                }
                .expres-container .expres-card .imgBx img,
                .expres-container .expres-card:hover .imgBx img {
                    max-width: 100px;
                }
                .expres-container .expres-card .expres-content {
                    position: relative;
                    width:100%;
                }
            }

            /* ----------------------FOOTER ----------------- */
            footer{
                position: relative;
                background:#bababa;
            }
            .img-foot{
                position: relative;
                width:20px;
                display: flex;
                justify-content: center;
                left: 50vh;
                padding-left: 20px;
                margin: 0;
                
           }
           .reseaux{
                margin: auto;
                 padding: 20px 0;
                 align-items: center;
                justify-content: space-between;

            }
            .reseaux ul li{
                display: inline-block;
                list-style: none;
                margin: 10px 20px;            
            }
             .reseaux ul li a{
                text-decoration: none;
                color: #FF6600;
                font-weight: bold;
            }
            .reseaux h2{
                color: #11a372;
            }
            .aide{
                padding: 20px;
               position: relative;

            }
            .aide ul li{
                display: inline-block;
                list-style: none;
                border-radius: 20%;           
            }
            .aide ul li a{
                text-decoration: none;
                color:#000;
                font-weight: bold;
            }
            .aide h2{
                color: #fff;
            }
            footer p{
                position: relative;
                left: -60px;
            }
